header {
  text-align: center;
}

.dice {
  height: 25em;
  display: flex;
  justify-content: space-around;
}
section {
  font-size: larger;
}
.first,
.second {
  width: 100%;
}
.score {
  margin: 50% 2em;
  font-size: 2em;
}

.btn {
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  justify-content: space-between;
}

.current1,
.current2,
.current-score {
  position: absolute;
  margin: 20rem 0rem;
  height: 6.25em;
  width: 25%;
  text-align: center;
  background-color: red;
  overflow: auto;
}

.current-score {
  z-index: 1;
  margin: 12.5em 0.5em;
  height: 1.2em;
  width: 20%;
  text-align: center;
  font-size: 1.5em;
}

.bi-plus-circle,
.bi-save-fill,
.bi-arrow-clockwise {
  color: red;
}

.dice-pic {
  margin: 100%;
  width: 20%;
}

@media only screen and (max-width: 500px) {
  .dice {
    display: grid;
    padding-top: 1rem;
  }
  footer {
    width: auto;
    font-size: x-small;
  }
  #btn {
    font-size: 3em;
  }
}
